body {
    width: calc(100% - 120px);
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    body {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width: 576px) {
    body {
        width: calc(100% - 10px);
    }
}

.block:hover button {
    display: flex;
}

.meme-block:first-child img {
    display: flex
}

.meme-block:first-child button {
    transform: rotate(45deg);
}

button {
    align-items: center;
    justify-content: center;
    border: none;
    background: inherit;
    font-size: 3em;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1279px) {
    button {
        font-size: 2em;
    }
}

@media screen and (max-width: 576px) {
    button {
        font-size: 1em;
    }
}

img {
    margin: 20px auto;
    width: 60%
}

@media screen and (max-width: 1279px) {
    img {
        width: 80%
    }
}

@media screen and (max-width: 576px) {
    img {
        width: 100%
    }
}

h1, h2 {
    font-size: 3em;
    margin: 10px 0 0;
}

@media screen and (max-width: 1279px) {
    h1, h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 576px) {
    h1, h2 {
        font-size: 1em;
    }
}

button:hover {
    cursor: pointer;
}

.block:hover .meme-block:not(:hover) img{
    display: none;
    animation: ani 2.5s forwards;
}

.block:hover .meme-block:not(:hover) button {
    transform: rotate(0deg);
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.meme-block h2 {
    width: calc(100% - 35px)
}

.meme-block:target img {
    display: flex!important;
}

.meme-block:target button {
    transform: rotate(45deg);
}

.meme-block:hover {
    cursor: pointer;
}

.meme-block:hover img {
    display: flex;
    animation: ani 2.5s forwards;
}

.meme-block:hover button {
    transform: rotate(45deg);
}

.meme-block img, .meme-block button {
    display: none;
    animation: ani 2.5s forwards;
}

.meme-block a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.meme-block a:hover {
    color: darkslategray;
}